.GridMainDivwithImages {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 20px 0px 20px 0px;
  /* height: 30%; */
}

.fistIMGGridDIV {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  filter: brightness(60%);
}

.fistIMGGridDIV2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  filter: brightness(80%);
}

.fistIMGGridDIV3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  filter: brightness(80%);
}

.innnerInfoDivforGridName {
  display: flex;
  flex-direction: column;
}

.spancatogorySpanDiv {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.fistIMGGridDIV4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  filter: brightness(80%);
}

.leftSideAllimageGrid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  color: white;
  text-align: end;
  z-index: 2;
  justify-content: center;
  margin-top: 10%;
  margin-left: -5%;
}

.NameOfBusniess {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  -webkit-letter-spacing: -0.4px;
  -moz-letter-spacing: -0.4px;
  -ms-letter-spacing: -0.4px;
  letter-spacing: -0.4px;
  line-height: 56px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  color: white;
  display: inline;
  margin-block-start: 0.67em;
  margin-block-end: 0.2em;
}

.businessDetailimg {
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 5px 1px gray;
}

.EditBusniessDetailTOGOpage {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  height: 40px;
  width: 100px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin: 5px;
}

.EditBusniessDetailTOGOpage:hover {
  background-color: rgb(255, 5, 5);
}

.buttosforEditandDelete {
  margin: 5px 5px 5px -5px;
}

.RatingDivInsideDP {
  margin: -5px 0px 10px 0px;
}
