*{
    font-family: Helvetica;
    /* background-color: #c2aaaa7f; */
}

#CenterNameforHome{
 /* display: flex;
 justify-content: center;
 align-items: center;
 height: 100px; */
 width: 600px;
 height: 400px;
 padding: 20px;
 margin: 30px auto;
 box-shadow: 0px 0px 10px 2px gray;
 /* border: 10px solid red; */
 background-image: url("https://images.squarespace-cdn.com/content/v1/5835d948414fb5a615f7641e/1481519058032-2V7L61ZFLEDNYTL2CYU7/Food+Photo+Background.jpg?format=2500w");
 background-size:cover ;
text-align: center;
/* color: white; */
}

.CenterNameforHomeh2Class{
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bolder;
}

#spanForName{
    color: white;
    font-size: 60px;
    letter-spacing: 4px;
    animation: maintext 4s 1;
}

@keyframes maintext {
    0%{
        color: black;
    }
    30%{
        letter-spacing: 50px;
    }
    85%{
        letter-spacing: 4px;
    }
}

#infoForWebsite{
    color: white;
    animation: maininfo 4s 1;
}

@keyframes maininfo {
    0%{
        color: black;
    }
    30%{
        color: black;
    }
    85%{
        color: white;
    }
}
