.businessListimage {
  height: 200px;
  width: 200px;
}

.businessListClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px;
  /* /* justify-content: center; */
}

.busniessClassArr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ebebeb;
  width: 100%;
  margin: 15px;
}

.BusniessIndName {
  display: block;
  font-size: 1.5em;
  margin-block-start: -0.3em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.busniessClassArr:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.contentdiv {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding: 20px;
}

.leftSIDEoFSIGNLEDIV {
  margin: 5px;
  float: left;
  /* border: 1px solid red; */
  /* width: 50%; */
}

.rightSIDEoFSIGNLEDIV {
  float: left;
  width: 100%;
  margin: 5px;
  /* border: 1px solid green; */
}
