.footermainDiv {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  background-color: #f7f7f7;
}

.linkedLogo {
  height: 25px;
}

.githubLogo {
  height: 25px;
}

.developerInfo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 5%;
}

.overrideDIV {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divforlgofooter {
  padding: 2px;
}

.technologiesUSED {
  margin-left: 5%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.techSpan {
  padding: 5px;
  margin: 0px 2% 0px 2%;
}
