form {
    justify-content: center;
    align-items: center;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
    width: 80%;
    max-width: 450px;
    min-width: min-content;
    padding: 20px;
    box-shadow: inset 0px 0px 5px 2px #0d0d0d4d;
    border-radius: 15px;
}
