#signUpinErrorDiv{
    color: red;
    font-style: italic;
    margin-bottom: 15px;
}

#signUperrorsdForCreateUL{
    background-color: white;
}

#signUpErrorsCreateBusinessform{
    float: none;
    margin:5px;
    margin-top: 20px;
    margin-left: 50px;
}

#logInlogoFront{
    height: 60px;
}


#signUpInputFrontIn{
    height: 25px;
    width: 300px;
    margin: 10px;
    border: solid 1.5px gray;
    border-radius: 5px;
    background-color: lightgray ;
}

#singUpInSubmitBtn{
    border-radius: 5px;
    color: white;
    background-color: hsl(0, 2%, 25%);
    height: 30px;
    width: 75px;
    cursor: pointer;
    margin-top: 10px;
}

#donthaveLogin{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(72, 70, 70);
}
