.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.logoZelpnavBar {
  /* display: flex; */
  margin-top: -25px;
  margin-bottom: -25px;
  /* height: 50px; */
  width: 100px;

  /* height: 50px; */
}

.navLogoDiv {
  display: flex;
  height: 50px;
  width: 100px;
  /* border: 1px solid black; */
  float: left;
}

.newBusniessClassnav {
  display: flex;
  margin-right: auto;
  margin-left: 2%;
}

.navSignUp {
  margin: 0px 10% 0px 10px;
}

.signUpBTN {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  width: 100px;
  color: white;
  border: 1px solid rgba(224, 7, 7, 1);
  background-color: rgba(224, 7, 7, 1);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.signUpBTN:hover {
  /* transform: scale(1.02); */
  background-color: rgb(242, 7, 7);
}

.logInBTNnav {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  width: 100px;
  color: black;
  border: 1px solid rgba(200, 201, 202, 1);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 1s;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.navLoginbtnDiv {
  margin: 0px 5px 0px 15px;
}

.logInBTNnav:hover {
  /* transform: scale(1.02); */
  background-color: rgba(200, 201, 202, 1);
}

.createNewBunisessclas {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  width: 180px;
  color: black;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 1s;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.createNewBunisessclas:hover {
  /* transform: scale(1.02); */
  background-color: rgba(200, 201, 202, 1);
}
