.navbarLogo {
    height: 35px;
    width: 80px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}


.navLogin {
margin-left: 10px;
color: white;
text-decoration: none;
}

.createnNew {
    margin-left: 60px;
    color: white;
    text-decoration: none;
}


.navSignUp {
    color: white;
    text-decoration: none;

}

.navBar{
    display: inline;
    align-items: center;
}

.loginnsignup{
    display: flex;
    flex-direction: row-reverse;
}

.navbarli{
    /* display: inline; */
    background-color: black;
}
