.nameDivNAV {
  display: flex;
}

.LogoutBtn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  width: 100px;
  color: white;
  border: 1px solid rgba(224, 7, 7, 1);
  background-color: rgba(224, 7, 7, 1);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.LogoutBtn:hover {
  /* transform: scale(1.02); */
  background-color: rgb(242, 7, 7);
}

.nameOfuser {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font-weight: 900;
}
